<div class="new-pub-form">
  {{input type="text" placeholder="Name" value=name class="name-input"}}
  {{input type="text" placeholder="Body" value=body class="body-input"}}
  {{input type="text" placeholder="Image" value=image class="image-input"}}
  <button {{action 'addPub'}} class="submit">Submit</button>
</div>
