
<div class="jumbotron">
  <div class="container">
    <div class="header">
      <h1> Brew Finder!</h1>
      {{#link-to 'home'}}Home{{/link-to}}
      {{#link-to 'pubs'}}Pubs{{/link-to}}
    </div>
  </div>
</div>

<div class="pub-body">
{{outlet}}
</div>
